/* stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');


:root{
    --primary-color:rgb(230, 184, 100);
}

body{
    font-family: 'Do Hyeon','Arial';
    letter-spacing: 2px;
    margin:0px;
}
.hero-image{
    background-image:url('assets/sithback.jpg');
    background-repeat: no-repeat;
    background-size: 1500px 850px;
}

/* Starting from here */

.main-div{
    display:block;
    margin:auto;
    text-align: center;
    color:white;
}

.textarea{
    display:block;
    margin:auto;
    text-align:center;
    padding:1.5rem 1rem;
}

.button{
    display:block;
    margin:auto;
    text-align:center;
}
.button .in-button{
    color:white;
    background:transparent;
    padding:1rem 2rem;
    border-color:var(--primary-color);
    border-radius: 1rem;
    font-family: 'Do Hyeon';
}

.button .in-button:hover{
    background-color: var(--primary-color);
    color:black;
    font-weight:bold;
}

.text{
    height:15vh;
    width:100%;
    max-width:450px;
    border-color:var(--primary-color);
    background:transparent;
    resize:none;
    border-radius: 1rem 1rem;
    text-align:center;
    font-family: 'Do Hyeon';
    font-size:20px;
    color:white;

}

.cl-footer{
    
}

.cl-footer .div-ul{
    text-align:center;
    color:var(--primary-color);

}

.cl-footer div{
}
.div-ul .ul-li{
    position:relative;
    list-style:none;
    color:white;
    padding:1rem;

}


.div-ul .ul-li .list{
    display:inline;
    padding: 0rem 1rem;
}

.icon-img{
    position:relative;
    height:50px;
    width:50px;
    /* border:0px; */

}


/* -------------------- */

.icon-img:hover{
    background-color:var(--primary-color);
    height:70px;
    width:70px;
}

